@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}

header{
    text-align: center;
    padding: 2vh 4vw;
    font-size: 2vw;
    margin-bottom: 5vh;
}

h1{
    opacity: 0;
    transform: translateY(-30px);
    animation: displaying 0.4s 1.6s ease-out forwards;
}

.svg-inline--fa{
    font-size: 1.5em;
}

section{
    width: 65%;
    margin: 2vh auto 15vh auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form{
    width: 65%;
    opacity: 0;
    transform: translateX(-500px);
    animation: displaying 0.8s 0.6s ease-out forwards;
}

input{
    width: 100%;
    border: 1px solid #bbb;
    padding: .5em;
    border-radius: .5em;
}

#card{
    margin-top: 10vh;
    padding: 5vh 4vw;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    border-radius: .3em 0 .3em 0;
    font-size: 1em;
    line-height: 1.5em;
    opacity: 0;
    animation: displaying 0.4s 1.2s ease-out forwards;
}

picture{
    margin-bottom: 5vh;
}

hr{
    margin-bottom: 2vh;
    border: 1px dashed white;
}

img{
    display: block;
    margin: -8vh auto 1vh;
    border: 1px solid #bbb;
    width: 35%;
    border-radius: 50%;
    box-shadow: .1em .1em .4em rgba(0, 0, 0, 0.4);
}

h2{
    text-align: center;
    line-height: 2em;
}

.bold{
    font-weight: 600;
}

#card > button{
    margin: 2em 0;
    padding: 1em;
    border: none;
    border-radius: .4em;
    background-color: #aaa;
    color: white;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: .06em;
    cursor: pointer;
    transition: all 1s;
}

#card > button:hover{
    border-radius: .2em;
    background-color: #333;
}

footer{
    padding: 4vh 3vw;
    margin-top: 10vh;
    font-size: 0.9em;
    text-align: center;
    line-height: 1.8em;
    color: #333;
    box-shadow: -.1em 0 .8em rgba(0, 0, 0, 0.2);
}

footer a{
    color: #333;
    font-weight: 600;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}

/* Animations */

@keyframes displaying{
    100%{
        opacity: 1;
        transform: none;
    }
}

/* Manage responsive display */

@media screen and (max-width: 640px){
    
    section, form{
        width: 80%;
    }

    label{
        font-size: 1em;
    }

    img{
        margin: -9vh auto 1vh;
        width: 45%;
    }

}

@media screen and (max-width: 375px){
    
    header{
        font-size: 3vw;
    }

    form{
        width: 95%;
    }

    label{
        line-height: 1.5em;
    }

    img{
        margin: -9vh auto 1vh;
        width: 55%;
    }

}



